{% extends 'base.html' %}

{% block title %}
Список документов
{% endblock %}

{% block content %}
<h2>Список документов</h2>
<table class="table">
<thead>
<tr>
    <th>Имя</th>
    <th>Описание</th>
    <th>Файл</th>
</tr>
</thead>
<tbody>
{% for document in documents %}
<tr>
<td>{{ document.title }}</td>
<td>{{ document.description }}</td>
<td>
    <a href="{{ document.document.url }}" class="btn btn-primary btn-sm" target="_blank">Посмотреть</a>
</td>
</tr>
{% endfor %}
</tbody>
</table>
{% endblock %}
