{% extends "blog/base.html" %}
{% load static %}
{% block title %}
Print Area/{{ post.title }}
{% endblock title %}
{% block content %}
{% load comments %}
{% load comments_xtd %}
{% load i18n %}



{#  <article class="media content-section">#}
{#    <img class="rounded-circle article-img" src="{{ object.author.profile.image.url }}">#}
{#    <div class="media-body">#}
{#      <div class="article-metadata">#}
{#        <a class="mr-2" href="{% url 'user-posts' object.author.email %}">{{ object.author }}</a>#}
{#        <small class="text-muted">{{ object.date_posted|date:" d, Y" }}</small>#}
{#      </div>#}
{#      <h2 class="article-title">{{ object.title }}</h2>#}
{#            <img src="{{ post.image.url }}" alt="" width="560px">#}
{#       <hr>#}
{#      <p class="article-content">{{ object.content }}</p>#}
{#    {% if object.author == user %}#}
{#          <div>#}
{#            <a class="btn btn-secondary btn-sm mt-1 mb-1" href="{% url 'post-update' object.id %}">Редактировать</a>#}
{#            <a class="btn btn-danger btn-sm mt-1 mb-1" href="{% url 'post-delete' object.id %}">Удалить</a>#}
{#          </div>#}
{#        {% endif %}#}
{##}
{#    </div>#}
{#  </article>#}
    <div class="preloader d-flex align-items-center justify-content-center">
        <div class="spinner">
            <div class="double-bounce1"></div>
            <div class="double-bounce2"></div>
        </div>
    </div>

    <!-- ##### Breadcrumb Area Start ##### -->
    <div class="mag-breadcrumb py-5">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href="{% url 'blog-home' %}"><i class="fa fa-home" aria-hidden="true"></i> Главная страница</a></li>
                            <li class="breadcrumb-item"><a href="{% url 'blog-home' %}">Посты</a></li>
                            <li class="breadcrumb-item active" aria-current="page">{{ post.title }}</li>
                        </ol>
                    </nav>
                </div>
            </div>
        </div>
    </div>
    <!-- ##### Breadcrumb Area End ##### -->

    <!-- ##### Post Details Area Start ##### -->
    <section class="post-details-area">
        <div class="container">
            <div class="row justify-content-center">
                <!-- Post Details Content Area -->
                <div class="col-12 col-xl-8">
                    <div class="post-details-content bg-white mb-30 p-30 box-shadow">
                        <div class="blog-thumb mb-30">
                            <img src="{{ post.image.url }}" alt="">
                        </div>
                        <div class="blog-content">
                            <div class="post-meta">
                                <a>{{ post.publish|date:"F d, Y" }}</a>
                                <a>{{ post.author }}</a>
                            </div>
                            <h4 class="post-title">{{ post.title }}</h4>


                            <!-- Post Meta -->
                            <div class="post-meta-2">
                                {#                                <a href="#"><i class="fa fa-eye" aria-hidden="true"></i> 1034</a>#}
                                {#                                <a href="#"><i class="fa fa-thumbs-o-up" aria-hidden="true"></i></a>#}
                                {% get_comment_count for object as comment_count %}
                                <a><i class="fa fa-comments-o" aria-hidden="true">{{ comment_count }} </i></a>
                            </div>
                            <p>{{ post.content }}</p>

                            <!-- Post Author -->
                            <div class="post-author d-flex align-items-center">
                                {% if object.author == user %}
                                    <div>
                                        <a href="{% url 'post-update' object.id %}"><button  type="button" class="btn btn-light"><i class="fas fa-pen-square">Редактировать </i></button></a>
                                        <a href="{% url 'post-delete' object.id %}"><button  type="button" class="btn btn-light"><i class="fas fa-trash-alt">Удалить</i></button></a>
                                    </div>
                                {% endif %}

                            </div>
                        </div>
                    </div>

                    <!-- Comment Area Start -->
                    <div class="comment_area clearfix bg-white mb-30 p-30 box-shadow">
                        <!-- Section Title -->
                        <div class="section-heading">
                            <h5>Коментарии</h5>
                        </div>
                        <ol>
                            <!-- Single Comment Area -->
                            <li class="single_comment_area">
                                <!-- Comment Content -->
                                <div class="comment-content d-flex">

                                    {% if comment_count %}
                                        <ul class="media-list">
                                            {% render_xtdcomment_tree for object allow_flagging allow_feedback show_feedback  %}
                                        </ul>
                                        {% block extra-js %}
                                            <script
                                                    src="https://code.jquery.com/jquery-3.3.1.min.js"
                                                    crossorigin="anonymous"></script>
                                            <script
                                                    src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
                                                    integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
                                                    crossorigin="anonymous"></script>
                                            <script
                                                    src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"
                                                    integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
                                                    crossorigin="anonymous"></script>
                                            <script>
                                                $(function() {
                                                    $('[data-toggle="tooltip"]').tooltip({html: true});
                                                });
                                            </script>
                                        {% endblock %}
                                    {% endif %}
                                </div>
                            </li>

                            <!-- Single Comment Area -->
                        </ol>
                    </div>

                    <!-- Post A Comment Area -->
                    <div class="post-a-comment-area bg-white mb-30 p-30 box-shadow clearfix">
                        <!-- Section Title -->
                        <div class="section-heading">
                            <h5>Оставить комментарии</h5>
                        </div>
                        <div class="card card-block mb-5">
                            <div class="card-body">
                                {% render_comment_form for post %}
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Sidebar Widget -->
                <div class="col-12 col-md-6 col-lg-5 col-xl-4">
                    <div class="sidebar-area bg-white mb-30 box-shadow">
                        <!-- Sidebar Widget -->
{#                        <div class="single-sidebar-widget p-30">#}
{#                            <!-- Social Followers Info -->#}
{#                            <div class="social-followers-info">#}
{#                                <!-- Facebook -->#}
{#                                <a href="#" class="facebook-fans"><i class="fa fa-facebook"></i> 4,360 <span>Fans</span></a>#}
{#                                <!-- Twitter -->#}
{#                                <a href="#" class="twitter-followers"><i class="fa fa-twitter"></i> 3,280 <span>Followers</span></a>#}
{#                                <!-- YouTube -->#}
{#                                <a href="#" class="youtube-subscribers"><i class="fa fa-youtube"></i> 1250 <span>Subscribers</span></a>#}
{#                                <!-- Google -->#}
{#                                <a href="#" class="google-followers"><i class="fa fa-google-plus"></i> 4,230 <span>Followers</span></a>#}
{#                            </div>#}
{#                        </div>#}

                        <!-- Sidebar Widget -->
                        <div class="single-sidebar-widget p-30">
                            <!-- Section Title -->
                            <div class="section-heading">
                                <h5>Категории</h5>
                            </div>
                            <!-- Catagory Widget -->

                            <ul class="catagory-widgets">
                                <li><a href="#"><span><i class="fa fa-angle-double-right" aria-hidden="true"></i>{{ post.category.title }}</span> <span>30</span></a></li>
                                <li><a href="#"><span><i class="fa fa-angle-double-right" aria-hidden="true"></i>Продажа</span> <span>13</span></a></li>
                                <li><a href="#"><span><i class="fa fa-angle-double-right" aria-hidden="true"></i>Работа</span> <span>06</span></a></li>
                                <li><a href="#"><span><i class="fa fa-angle-double-right" aria-hidden="true"></i>Спорт</span> <span>28</span></a></li>
                                <li><a href="#"><span><i class="fa fa-angle-double-right" aria-hidden="true"></i>Футбол</span> <span>08</span></a></li>
                                <li><a href="#"><span><i class="fa fa-angle-double-right" aria-hidden="true"></i>Тв</span> <span>13</span></a></li>
                            </ul>
                        </div>

                        <!-- Sidebar Widget -->
                        <div class="single-sidebar-widget">
                            <a href="#" class="add-img"><img src="{% static 'blog/img/Logo.png' %}"  width="250" height="250" alt=""></a>
                        </div>

                        <!-- Sidebar Widget -->
                        <div class="single-sidebar-widget p-30">
                            <!-- Section Title -->
                            <div class="section-heading">
                                <h5>Новостная рассылка</h5>
                            </div>

                            <div class="newsletter-form">
                                <p>Подпишитесь на нашу рассылку, чтобы получать уведомления о новых обновлениях, информации о скидках и т.д.</p>
                                <form action="#" method="get">
                                    <input type="search" name="widget-search" placeholder="Enter your email">
                                    <button type="submit" class="btn mag-btn w-100">Subscribe</button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- ##### Post Details Area End ##### -->
{% endblock content %}