
.circular--square {
 display: inline-block;
  width: 20px;
  height: 20px;
  border-radius: 50%;
}
.circular--square {
  border-top-left-radius: 50% 50%;
  border-top-right-radius: 50% 50%;
  border-bottom-right-radius: 50% 50%;
  border-bottom-left-radius: 50% 50%;
}
