{% extends 'base.html' %}
{% load staticfiles %}
{% load static %}
{% block title %}
О нас
{% endblock %}

{% block content %}


    Типография была основана в далеком 1999 году. Мы прошли не малый путь и гордимся тем, что можем предложить нашим заказчикам.
Сейчас Service Press – современное полиграфическое предприятие европейского формата и издательство с регистрацией в Национальной Государственной Книжной Палате Республики Казахстан.<br><br>
    Основная специализация – изготовление книг и высококлассная многокрасочная печать.

С нами удобно. Мы обеспечиваем всю технологическую цепочку изготовления печатной продукции от разработки оригинал-макета до производства готовой продукции. Дизайн, вёрстка и доставка – бесплатно.<br>
    У нас реальное качество. Стоит взять в руки выпущенную в Service Press книгу, семейный фотоальбом или любую другую продукцию, и сразу чувствуется годами отточенная культура производства.

У нас доступно. Мы предлагаем несколько вариантов дизайна вашей продукции и подбираем наименее затратную технологию ее изготовления. Получается недорого и впечатляюще красиво.

С нами всегда успеваешь. Мы охотно идем навстречу и беремся за сверхсрочные заказы. Если у вас горят сроки, добро пожаловать.

Внимание и большим, и маленьким. Мы одинаково ценим всех клиентов и ответственно относимся к заказу любого размера и формата.

Специальный бонус. Напечатайте книгу у нас, и мы бесплатно разместим ее в интернет-магазине своего партнера.<br><hr><br>

<img src="{% static 'sender/img/1.jpg' %}" alt=""/>





    Типография <strong>Service Press</strong> предлагает издание семейных книг и фотоальбомов. Здесь каждое изделие – эксклюзивная штучная продукция. Оно становится вашим хранилищем семейных традиций и ярким отражением событий, память о которых не потускнеет с годами. И нами тут накоплен большой опыт.<br><br>

<strong>Свадебная фотокнига</strong> – все самые трогательные воспоминания о торжественном дне, оформ-ленные в стильный альбом. Можно разработать несколько дизайнов свадебного альбома: для молодоженов, родственников,гостей и друзей. Яркие моменты свадебного путешествия легко сохранить, создав отдельный тематический альбом.<br><br>

<strong>Фотокнига с выпускного вечера</strong> – оригинальная памятная зарисовка с праздника в школе, колледже или детском саду. В ней можно собрать фото учеников и преподавателей, веселые моменты из школьной жизни.<br><br>

<strong>Юбилейная фотокнига</strong> – выпускается по итогам дня рождения, юбилея, годовщины свадьбы. Это идеальный вариант теплого и душевного подарка, в который вложены эмоции и особое настроение.<br><br>

Чтобы сделать семейную книгу или фотоальбом вашим семейным шедевром в производственном арсенале Serviсe Press есть полный пакет послепечатных услуг: ламинирование, УФ-лакирование (эффект «живых капель» на фотокартине), тиснение, конгрев и т.д. Наша продукция – современная альтернатива скучным альбомам.<br><br>



{% endblock content %}