{% extends 'base.html' %}
{% load static %}


{% block title %}
Главная страница
{% endblock %}

{% block content %}
    <img src="{% static 'sender/img/2.png' %}" alt="" width="1200">
<section class="content">
    Lorem ipsum dolor sit amet, consectetur adipisicing elit.
    A ab atque commodi culpa dignissimos distinctio dolore illo, impedit iicing elit. A ab
    atque commodi culpa dignissimos distinctio dolore illo, impedit iicing elit. A ab atque commodi culpa dicing elit. A ab
    atque commodi culpa dignissimos distinctio dolore illo, impedit iicing elit. A ab atque commodi culpa dignissimos distinctio
    dolore illo, impedit iicing elit. A ab atque commodi culpa dignissimos distinctio dolore illo, impedit iicing elit. A ab atque
    commodi culpa dignissimos distinctio dolore illo, impedit iicing elit. A ab atque commodi culpa dignissimos distinctio dolore illo,
    impedit iicing elit. A ab atque commodi culpa dignissimos distinctio dolore illo, impedit iicing elit. A ab atque commodi culpa
    dignissimos distinctio dolore illo, impedue commodi culpa dignissimos distinctio dolore illo, impedit iicing elit. A ab atque commodi c
    ulpa dignissimos distinctio dolore illo, impedue commodi culpa dignissimos distinctio dolore illo, impedit iicing elit. A ab atque commodi
    culpa dignissimos distinctio dolore illo, imped ue commodi culpa dignissimos distinctio dolore illo, impedit iicing elit. A ab atque
    commodi culpa dignissimos distinctio dolore illo, imped ue commodi culpa dignissimos distinctio dolore illo, impedit iicing elit.
    A ab atque commodi culpa dignissimos distinctio dolore illo, impedue commodi culpa dignissimos distinctio dolore illo, impedit iicing elit.
    A ab atque commodi culpa dignissimos distinctio dolore illo, impedit iignissimos distinctio dolore illo, impedit iicing elit.
    A ab atque commodi culpa dignissimos distinctio dolore illo, impedit ipsa ipsum minus natus officia pariatur, praesentium, provident sit tenetur unde.
    Dolor explicabo hic odio, praesentium sequi vel voluptates. Ab, amet asperiores consequatur cum debitis dolor eaque earum esse et, ex fuga
    libero magnam molestias nihil nobis obcaecati odio pariatur placeat possimus qui quidem quos recusandae repudiandae sed sequi tempora vero voluptatibus!
    Ab ad adipisci aspernatur autem debitis et, expedita laudantium maxime neque nulla quia reiciendis sunt voluptatum? Animi consequuntur cupiditate dolore
    doloremque doloribus ea eaque id illo impedit laborum magnam minima molestiae neque non nulla porro provident, quae quibusdam repudiandae similique, sunt
    veritatis vitae! Quidem, repellendus, sequi? Ab accusantium aliquid autem commodi, dolor dolorem dolores ea eos eum eveniet ex excepturi hic, illum ipsa
    ipsam libero minus nam natus nemo odit pariatur quis ratione recusandae reiciendis voluptate. Autem beatae cupiditate ducimus? Ab, alias amet blanditiis,
    cupiditate deserunt eaque expedita facilis hic iusto laboriosam minima necessitatibus nobis provident, rem sed sint sit ut vero. Ad consequatur cupiditate
    deserunt dignissimos doloribus eaque facere fugit iste, iusto modi molestiae possimus quia rem, repellendus saepe, sapiente temporibus ullam. Aliquam,
    doloremque esse est excepturi impedit in inventore ipsum, iste, modi provident ratione sapiente similique tenetur. Distinctio dolore excepturi, harum
    laudantium neque saepe voluptatem! Ad aliquid corporis eligendi eos error inventore quidem ratione rerum! Animi at dolor, earum error et fugit ipsa
    ipsum perferendis quis unde? Amet beatae deleniti dolor dolorem, dolores ducimus earum eligendi eos facere, facilis fugit harum ipsam iure labore
    laboriosam minima nisi nobis omnis perferendis perspiciatis provident quasi quis, quo similique suscipit temporibus velit voluptas. A aspernatur
    at atque beatae consequatur corporis deserunt, dicta ducimus eaque est eum, ex exercitationem expedita hic illo ipsa molestiae nihil nostrum
    nulla numquam odit officia placeat possimus praesentium quaerat ratione, repudiandae sequi suscipit totam ullam vel voluptas voluptatem
    voluptatibus. Asperiores cumque cupiditate esse modi mollitia recusandae sequi unde. Adipisci dicta, dolorem dolores eligendi impedit
    inventore iste nemo odio odit, officiis quas repellat similique voluptate. Aperiam consequatur esse minima officia quam quia reiciendis
    repellat veniam, vitae voluptatibus? Amet consectetur cupiditate, maxime odit officia sapiente. Aliquam atque distinctio explicabo
    quos veniam. Debitis dolore fuga inventore iusto libero molestiae, nam nemo. A accusantium architecto at aut cumque eos eveniet
    excepturi, exercitationem expedita iusto minima nesciunt nihil optio praesentium quae quia tempore veniam, vero? Mollitia
    necessitatibus nulla praesentium quae quaerat, voluptas voluptatum. Accusantium adipisci corporis cumque debitis dolore dolorem earum eius enim eos error,
    eveniet facere facilis fuga fugiat illum incidunt iusto laboriosam laborum mollitia nobis nostrum optio provident quas qui quia reprehenderit repudiandae
    suscipit voluptate voluptatibus voluptatum. Animi aut blanditiis consectetur incidunt perspiciatis! Commodi eius inventore, libero necessitatibus, nobis
    odio odit, omnis optio quos ratione reiciendis voluptatibus. Commodi dolorem doloribus inventore. Accusantium adipisci dolore esse exercitationem explicabo harum
    hic, inventore iusto laborum magni natus, officia rem repellat repellendus sed? Aliquid atque dicta
    iusto laborum laudantium necessitatibus nulla possimus
    ratione repellat vel! Adipisci cumque eaque maiores nihil officiis recusandae tempora voluptas!
</section>
{% endblock %}