{% extends 'base.html' %}
{% load static %}
{% block title %}
    Главная страница
{% endblock title %}

{% block content %}

    <div><nav class="main-menu">

        <div>
            <img src="{% static "img/Logo.png" %}" alt="" width="50"><a class="logo" href="{% static "img/Logo.png" %}">
            </a>
        </div>
        <div class="settings"></div>
        <div class="scrollbar" id="style-1">

            <ul>

                <li>
                    <a href="#">
                        <i class="fa fa-home fa-lg"></i>
                        <span class="nav-text">Главная страница</span>
                    </a>
                </li>

    <li>
        <a href="#">
            <i class="fa fa-user fa-lg"></i>
            <span class="nav-text">Авторизация</span>
        </a>
    </li>


            <li>
                <a href="#">
                    <i class="fa fa-envelope-o fa-lg"></i>
                    <span class="nav-text">Контакты</span>
                </a>
            </li>
            <li><a href="#">
<span class="share">
<div class="addthis_default_style addthis_32x32_style">
<div style="position:absolute;
margin-left: 56px;top:3px;">
</div>
<script type="text/javascript">var addthis_config = {"data_track_addressbar":true};</script>
<script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-4ff17589278d8b3a"></script>
</div>
</span>

                </a>
            </li>
            <li class="darkerlishadow">
                <a href="#">
                    <i class="fa fa- fa-lg"></i>
                    <span class="nav-text">Новости</span>
                </a>
            </li>

            <li class="darkerli">
                <a href="#">
                    <i class="fa fa- fa-lg"></i>
                    <span class="nav-text">Материалы</span>
                </a>
            </li>

            <li class="darkerli">
                <a href="#">
                    <i class="fa fa- fa-lg"></i>
                    <span class="nav-text">Оборудование</span>
                </a>
            </li>

            <li class="darkerli">
                <a href="#">
                    <i class="fa fa--cart"></i>
                    <span class="nav-text">1</span>
                </a>
            </li>

            <li class="darkerli">
                <a href="#">
                    <i class="fa fa- fa-lg"></i>
                    <span class="nav-text">2</span>
                </a>
            </li>

            <li class="darkerli">
                <a href="#">
                    <i class="fa fa- fa-lg"></i>
                    <span class="nav-text">3</span>
                </a>
            </li>

            <li class="darkerli">
                <a href="#">
                    <i class="fa fa--o fa-lg"></i>
                    <span class="nav-text">4</span>
                </a>
            </li>

            <li class="darkerli">
                <a href="#">
                    <i class="fa fa--left fa-lg"></i>
                    <span class="nav-text">5</span>
                </a>
            </li>

            <li class="darkerli">
                <a href="#">
                    <i class="fa fa- fa-lg"></i>
                    <span class="nav-text">6</span>
                </a>
            </li>

            <li class="darkerli">
                <a href="#">
                    <i class="fa fa- fa-lg"></i>
                    <span class="nav-text">7</span>
                </a>
            </li>

            <li class="darkerlishadowdown">
                <a href="#">
                    <i class="fa fa- fa-lg"></i>
                    <span class="nav-text">8</span>
                </a>
            </li>
        </ul>
        <li>

            <a href="#">
                <i class="fa fa-question-circle fa-lg"></i>
                <span class="nav-text">Помощь</span>
            </a>
        </li>


        <ul class="logout">
            <li>
                <a href="#">
                    <i class="fa fa-lightbulb-o fa-lg"></i>
                    <span class="nav-text">
                            Блог
                        </span>
                </a>
            </li>
        </ul>
        </div>
</nav>
</div>

<div class="wrapper">
<div class="container-fluid">
    <div class="row">
        <div class="col-lg-12">
            <h1>test</h1>
            <p>sdasdas sdasdas sdasdas sdasdas sdasdas sdasdas sdasdas sdasdas sdasdas sdasdas sdasdas sdasdas
                sdasdas sdasdas sdasdas sdasdas sdasdas sdasdas sdasdas sdasdas sdasdas sdasdas sdasdas sdasdas
                sdasdas sdasdas sdasdas sdasdas sdasdas sdasdas sdasdas sdasdas sdasdas sdasdas sdasdas sdasdas sdasdas sdasdas sdasdas </p>
            <hr>
            <br>
            <h1>test 2</h1>
            <p>asdasdasdasd asdasd dasdasdawdefrgt ewfwef efwf asdasdasdasd asdasd dasdasdawdefrgt ewfwef efwf
                asdasdasdasd asdasd dasdasdawdefrgt ewfwef efwf asdasdasdasd asdasd dasdasdawdefrgt ewfwef efwf asdasdasdasd
                asdasd dasdasdawdefrgt ewfwef efwf asdasdasdasd asdasd dasdasdawdefrgt ewfwef efwf asdasdasdasd asdasd dasdasdawdefrgt ewfwef efwf </p>
        </div>

    </div>

</div>
</div>

{% endblock content %}